.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.content-center {
  justify-content: center;
}

.content-space-between {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.grey {
  color: grey;
}

.info-font {
  color: grey;
  font-size: var(--info-font-size);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover {
  width: 4rem;
  height: 4rem;
  border-radius: .25rem;
}

.custom-scroll,
.custom-scroll-x {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.3s ease;

  -webkit-overflow-scrolling: touch;
  // Fix scroll lock on iOS
  pointer-events: auto;

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0.375rem;
    // `box-shadow` prevents repaint on macOS when hovering out of scrollable container
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.01);
  }

  &:hover,
  &:focus,
  &:focus-within {
    scrollbar-color: var(--color-scrollbar) transparent;

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-scrollbar);
    }
  }
}

.seek-line {
  width: .7rem;
  height: .7rem;
  background-color: rgba(51, 144, 236, 1);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
